<div class="game">
  <div id="autorization" class="fon-item">
    <div class="container">
      <div class="fon-item__space"></div>
      <div class="fon-item__col">
        <div class="fon-item__form">
          <input class="fon-item__input" type="text" placeholder="password" (input)="autorizeMode($event)"/>
          <button class="fon-item__start" (click)="startGame()">Start</button>
        </div>
      </div>
      <div class="warning">{{message}}</div>
  </div>    
</div>


<div id="game" class="item">
  <ng-template [ngIf]="start_game" [ngIfElse]="stop_game">
  <div class="container">
    <div class="timer">
      <div class="timer__inner">
        <div class="timer__value">
          <countdown [config]="config" (event)="handleEvent($event)"></countdown>
        </div>
      </div>
    </div>
    <div class="item__inner">

      <div class="bar">
        <div class="bar__item" [id]="prise_bar[0].id">{{prise_bar[0].value}}</div>
        <div class="bar__item" [id]="prise_bar[1].id">{{prise_bar[1].value}}</div>
        <div class="bar__item" [id]="prise_bar[2].id">{{prise_bar[2].value}}</div>
        <div class="bar__item" [id]="prise_bar[3].id">{{prise_bar[3].value}}</div>
        <div class="bar__item" [id]="prise_bar[4].id">{{prise_bar[4].value}}</div>
        <div class="bar__item" [id]="prise_bar[5].id">{{prise_bar[5].value}}</div>
        <div class="bar__item" [id]="prise_bar[6].id">{{prise_bar[7].value}}</div>
        <div class="bar__item" [id]="prise_bar[7].id">{{prise_bar[8].value}}</div>
        <div class="bar__item" [id]="prise_bar[8].id">{{prise_bar[9].value}}</div>
        <div class="bar__item" [id]="prise_bar[9].id">{{prise_bar[10].value}}</div>
        <div class="bar__item" [id]="prise_bar[10].id">{{prise_bar[11].value}}</div>
        <div class="bar__item" [id]="prise_bar[11].id">{{prise_bar[12].value}}</div>
        <div class="bar__item" [id]="prise_bar[12].id">{{prise_bar[13].value}}</div>
        <div class="bar__item" [id]="prise_bar[13].id">{{prise_bar[14].value}}</div>
        <div class="bar__item" [id]="prise_bar[14].id">{{prise_bar[15].value}}</div>
      </div>

      <ng-template [ngIf]="is_question" [ngIfElse]="answer">
        <div class="item__question">{{questions[number].question}}</div>
      </ng-template>
      <ng-template #answer>
        <div class="item__question answ">{{questions[number].explanation}}</div>
      </ng-template>

      <div class="item__picture">
        <img [src]="questions[number].picture" alt="picture" width="500px">
      </div>
      <div class="item__answers">
        <div class="item__col">
          <button class="btn" id="variant1" (click)="getAnswer(questions[number].variant1, 'variant1')">{{questions[number].variant1}}</button>
        </div>
        <div class="item__col">
          <button class="btn" id="variant2"  (click)="getAnswer(questions[number].variant2, 'variant2')">{{questions[number].variant2}}</button>
        </div>
        <div class="item__col">
          <button class="btn" id="variant3" (click)="getAnswer(questions[number].variant3, 'variant3')">{{questions[number].variant3}}</button>
        </div>
        <div class="item__col">
          <button class="btn" id="variant4" (click)="getAnswer(questions[number].variant4, 'variant4')">{{questions[number].variant4}}</button>
        </div>        
      </div>
      <ng-template id="continue" [ngIf]="continue" [ngIfElse]="space">
        <button class="item__next" (click)="nextQuestion()">Continue</button>
      </ng-template>
      <ng-template id="continue" #space>
        <div class="item__footer"></div>
      </ng-template>
    </div>
  </div>
</ng-template>
</div>

<ng-template #stop_game>
<div id="stop_round" class="modal">
  <div class="container">
    <div class="modal__dialog">
      <img class="modal_img" src="../assets/congratulations.jpg" alt="congats" width="400px">
      <div class="modal__messsage">
        <div class="modal__text">Congratulations! You are the winner and your prize is {{prise_bar[prize].value}}. For restarting the game click "Restart".</div>
      </div>
      <button class="modal__btn" (click)="restartGame()">Restart</button>
    </div>      
  </div>
</div>
</ng-template>
</div>
